*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
:root{
    --bg-color: rgb(27, 27, 27);
    --font-color: rgb(219, 215, 215);
}
body{
    background-color: var(--bg-color);
}