*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
:root{
    --bg-color: rgb(27, 27, 27);
    --font-color: rgb(219, 215, 215);
    --bg-buutton: crimson;

    /* padding */
    --nav-pad: 15px 25px;
    --s-pad:5px;
    --l-pad:10px;
    --x-pad:15px;
    --xx-pad:20px;

    /* border radius */
    --s-radius: 5px;
    --l-radius: 10px;
    --x-radius: 15px;
    --xx-radius: 20px;
}
body{
    background-color: var(--bg-color);
    color: var(--font-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--nav-pad);
    font-size: 1.2rem;
}
.right-nav > button{
    border: none;
    outline: none;
    border-radius: var(--s-radius);
    padding: var(--s-pad) var(--l-pad);
    cursor: pointer;
    color: var(--font-color);
    background-color: var(--bg-buutton);
    font-size: 0.9rem;
}
.right-nav > button:hover{
    opacity: 0.9;
}


.tasks{
    /* background-color: green; */
    flex-grow: 1;
    display: flex;
    padding: var(--xx-pad);
    gap: 27px;
}
.column{
    background-color: rgb(40, 39, 39);
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: var(--s-radius);
    display: flex;
    gap: 16px;
    flex-direction: column;
    min-width: 25%;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.column .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task{
    background-color: rgb(61, 59, 59);
    padding: var(--l-pad);
    border-radius: var(--x-radius);
    display: flex;
    flex-direction: column;
    cursor:grab;
}
.del-btn{
    align-self: flex-end;
    justify-self: flex-end;
    border: none;
    outline: none;
    color: var(--font-color);
    background-color: var(--bg-buutton);
    padding: var(--s-pad) var(--l-pad);
    border-radius: var(--s-radius);
    cursor: pointer;
}
.del-btn:hover{
    opacity: 0.9;
}

.drop-hover{
    border: 2px dashed var(--font-color);
    scale: 1.04;
}