*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background Color */
    --bg-light: rgb(221, 238, 244);
}

html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: var(--bg-light);
}