*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Background Color */
    --bg-light: rgb(232, 241, 244);
    --create-btn-bg: rgb(0, 157, 255);
    --inbox-board-bg: #bab9b96a;


    /* Color */
    --light-blue: ;


    /* Space */
    --s-size: 5px;
    --x-size: 10px;
    --l-size: 15px;
    --xl-size: 20px;
    --xxl-size: 25px;
    --xxxl-size: 30px;
}

html,body{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: var(--bg-light);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}



/* -----------Navbar---------- */
nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: var(--l-size) var(--l-size);
}

.board-selector-container{
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.board-selector{
    width: 83%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #066bd0;
    border-radius: 6px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
}

option {
    padding: var(--l-size) var(--l-size);
    background-color: rgb(244, 240, 240);
}

.create-btn{
    padding: var(--x-size) var(--x-size);
    background-color: var(--create-btn-bg);
    border-radius: var(--l-size);
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-family: monospace;
    font-weight: 400;
}
.create-btn:hover{
    border: solid black 1px;
}


.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.light-mode-btn{
    border: none;
    border-radius: var(--s-size);
    background-color: transparent;
    cursor: pointer;
}



/* ------new board maker------ */
.new-board-maker-container{
    position: fixed;
    top: 0;
    left: 0;
   display: none;
   justify-content: center;
   align-items: center;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.transparent-bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    position: absolute;
    z-index: 1;
}
.new-board-maker{
    padding: var(--xxl-size) var(--xxl-size);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: var(--l-size);
}
.input-board-name{
    outline: none;
    border: solid 2px rgb(0, 115, 255);
    padding: var(--l-size) var(--x-size);
    border-radius: var(--x-size);
}
.show-new-board-maker{
    display: flex;
}




/* ------main----- */
main{
    /* background-color: rgb(98, 0, 0); */
    padding: var(--xxl-size) var(--xxl-size);
    display: flex;
    width: 100%;
    gap: 20px;
    height: 91.2%;
}

.inbox{
    background-color: var(--inbox-board-bg);
    height: 100%;
    width: 25%;    
    padding: var(--x-size) var(--x-size);
    border-radius: var(--x-size);
}

.board{
    background-color: var(--inbox-board-bg);
    height: 100%;
    width: 75%;
    border-radius: var(--x-size);
    padding: var(--x-size) var(--x-size);
}

.heading{
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--x-size);
}
.edit-btn{
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: var(--x-size) var(--l-size);
    /* width: 10px; */
}




/* ------create new task------ */
.new-task{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(196, 198, 196);
    border-radius: var(--x-size);
    justify-content: center;
    gap: 5px;
    padding: var(--xxl-size) var(--x-size);
    margin-top: 20px;
}
.input-new-task{
    width: 80%;
    height: 31px;
    outline: none;
    border: none;
    border-radius: var(--s-size);
    padding: var(--x-size) var(--s-size);
}
.create-task-btn{
    color: white;
    font-size: 1rem;
    padding: var(--s-size) var(--l-size);
    border: none;
    border-radius: 3px;
    background-color: var(--create-btn-bg
    );
    cursor: pointer;
}
.create-task-btn:hover{
    background-color: #066bd0;
}

/* inbox-task-container */
.inbox-task-container{
    height: 73%;
    margin-top: 20px;
    border-radius: var(--x-size);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: var(--x-size) var(--l-size);
    overflow-y: auto;
}

.task{
    background-color: rgb(231, 232, 231);
    padding: var(--l-size) var(--x-size);
    display: flex;
    align-items: center;
    border-radius: var(--x-size);
    cursor: grab;
    position: relative;
    gap:10px;
}
.task-btn{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.delete-btn{
    position: absolute;
    bottom: 4px;
    right: 4px;
    cursor: pointer;
    width: 16px;
}